.about

  h1#about ABOUT US
  .underline
  .container
    .content
      .container 
        .row 
          .col-6
            .picAbout
              .picItem
                img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_10-480x384.jpg' alt='')
              .picItem
                img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_031-480x384.jpg' alt='')
              .picItem
                img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_012-480x384.jpg' alt='')
            .dotttt 
              .dotAbout  
              .dotAbout 
              .dotAbout
          .col-6
            .main
              h2 David J. Murdock
              p.Position Lead Manager
              p.des
                | Nullam ac suscipit erat, ac varius ligula. Vestibulum detos vehicula blandit pharetra. In magna arcu, adipiscing quis odio et, pharetra lacinia ultricies arcu commodo.
              ul
                li
                  p &#x2705; Gravida adiscipling elite rion testo.
                li
                  p &#x2705; Pulminare dosis gravida dosis.
                li
                  p &#x2705; Pulvinar etos mille terminal cuprum.
                li
                  p &#x2705; Elite morie gravida etos odio.
                li
                  p &#x2705; Norma metro maecenas.
  .overlay
    .carousel2
      .main2
        .container
          .item
            i.bi.bi-keyboard
            h3 Online Advisors
            p
              | Nulla ac lorem volutpat eleifend purus a condimentum elit fusce non eros neque.
          .item
            i.bi.bi-bar-chart-line-fill
            h3 Best Performance
            p
              | Cras id molestie lectus ut sit amet elementum diamac mattis arcu muris ut porta mauris.
          .item
            i.bi.bi-phone
            h3 New Technologies
            p
              | Aenean tincidunt dui mollis, integer atese malesuada elit in felis gravida est eleifend.
          .item
            i.bi.bi-shield-fill-check
            h3 Security & Privacy
            p
              | Praesent venenatis euismod tempus curabitur non laoreet enim vitae aliquam orci.
          .item
            i.i.bi.bi-chat-left-text
            h3 Live Support
            p
              | Quisque lectus pulvinar sed aliquam pretium, a quis enim nullam consectetur.
          .item
            i.bi.bi-cloud-arrow-up-fill
            h3 Cloud Management
            p
              | Aenean tincidunt dui mollis, integer atese malesuada elit in felis gravida est eleifend.
      
      .dott-container
        .dott
        .dott
        .dott
        .dott
        .dott
        .dott
