.contact 
  h1(id='contact') CONTACT US 
  .underline
  
  .container 
    .row 
      .col-6.left
        p.conhead Maecenas nisl erat mollis non egestas sed plat si amet leo donec eget nibh ut tortor dignissim lucti.
        h3 Appointment Form
        .underlines 
        input(type="text", placeholder='Your name *')
        input(type="text", placeholder='Your E-mail *')
        input(type="text", placeholder='Website *')
        textarea(placeholder='Message *')
        button.btn.btn-primary(type='button') Send message
      .col-6.right
        p.conhead Sed egestas orci eget purus vehicula non posuere lorem mattis vestibulum bibendum tortor quami.
        h3 Company Details
        .underlines
        .company-details
          .row 
            .icon-text
              i.bi.bi-signpost
              .text
                h5 Atrium Ltd.
                p 33 Farlane Street
                p 25-100 Kelior East, Australia
          .row 
            .icon-text
              i.bi.bi-phone 
              .text
                h5 Phone & Fax 
                p Phone: 18006438000
                p Fax: 18006438001
        h3.connect Connect with us 
        .underlines 
        .icons
          i.bi.bi-facebook
          i.bi.bi-twitter
          i.bi.bi-linkedin
