.feature
  h1#feature OUR FEATURES
  .underline

  .container
    .row
      .col-6
        p.head
          | We provides a wide array of specialized advisory and strategic services for our clients.
        ul
          li 
            .row 
              .col-2 
                i.bi.bi-journal-text
              .col-10
                h4 Investments
                p
                  | Etam cursus lectus nec tortor sagittis, at ultrices diam tempus. Nullam scelerisque lectus, a viverra adipiscin etos metro gravida.
          li
            .row 
              .col-2 
                i.bi.bi-wallet2
              .col-10
                h4 Household Savings
                p
                  | Vestibulum ante urna, eleifend in magna sit amet est scelerisque lobortis enim. Etiam rutrum maecenas sit pulminare erat.
          li
            .row 
              .col-2 
                i.bi.bi-shield-plus
              .col-10
                h4 Insurance
                p
                  | Aenean tincidunt dui id molestie mollis. Integer atese malesuada elit in felis gravida eleifend aenean congi suscipit detos blandit.
          li
            .row 
              .col-2 
                i.bi.bi-clock 
              .col-10
                h4 Live Services
                p
                  | Pellentesque malesuada felis sit amet sodales aliqua elit dui sodales nisl lectus non ullamcorper nisl sevel maecenas elit.
      .col-6
        p.head
          | Atrium has advised on hundreds of commercial and personal transactions since 1986.
        ul
          li
            .row 
              .col-2 
                i.bi.bi-signpost-2
              .col-10
                h4 Superior Advice
                p
                  | Aliquam erat volutpat. Etiam auctor volutpat leo, at tristique augue ultricies nec. Cras felis lectus integer erat maecenas est.
          li
            .row 
              .col-2 
                i.bi.bi-suitcase-lg
              .col-10
                h4 Private Banking
                p
                  | Sed diam in ligula facilisis ullamcorper. Nulla vite pellentesque tincidunt mi, non porttitor justo digni metro varius.
          li
            .row 
              .col-2 
                i.bi.bi-bricks
              .col-10
                h4 Legal Advice
                p
                  | Quisque lectus dui, maecenas sed aliquam pretium quis enim. Nullam a consectetur est risus gravida est soltidate novum norma.
          li
            .row 
              .col-2 
                i.bi.bi-bookmark-check 
              .col-10
                h4 Ticket System
                p
                  | Quisque rhoncus ipsum ac lacus mattis ut rutrumil sapien commodo. In quis sodales leo nullam quisila travida etos.
  
  .progress
    .container
      .row
        .col-4
          h1 67% 
          h4 Have never invested 
          p Donec sit amet varius massa in malesuada tortor. Sed magna risus pellentesque nec fermentum suscipit vehicula at urna.
          .progress-bar
            .fill(style='width: 67%;')
        .col-4
          h1 86%
          h4 Have Zero Savings
          p In sagittis congue diam eu vulputate mi euismod vel. Donec id magna rhoncus vel faucibus nunc eu faucibus leo aliquam.
          .progress-bar
            .fill(style='width: 86%;')
        .col-4
          h1 34%
          h4 Have No Insurance 
          p Aenean vel est sollicitudin pretium dui ut luctus quam. Integer felis erat auctor at mass congue ut vestibulum quis eros.
          .progress-bar
            .fill(style='width: 34%;')
