.galleries 
  h1(id='galleries') EXPLORE OUR WORK 
  .underline
  
  .container 
    .row 
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_031-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image I 
            .description 
              | This is first sample image
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_04-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image II 
            .description 
              | This is second sample image
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_08-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image III 
            .description 
              | This is third sample image
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_05-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image IV 
            .description 
              | This is fourth sample image
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_06-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image V 
            .description 
              | This is fifth sample image
      .col-4 
        .piccccc
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_07-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Sample Image VI 
            .description 
              | This is sixth sample image
