.carousel 

  .layout 
    .column-left 
      img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/logo.png", alt="")
    .column-right 
        a(href="https://dribbble.com/QuanticaLabs")
          i.bi.bi-dribbble
        a(href="https://themeforest.net/user/quanticalabs")
          i.bi.bi-book

  .gallery
    .carousel-item
      img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_10-480x384.jpg' alt='Image 1')
      a(href='#about')
        h1 ATRIUM IS A LEADING 
        h1 INDEPENDENT ADVISOR
        P with unconventional thinking & innovative approach
    .carousel-item
      img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_011.jpg?i=65108' alt='Image 2')
      a(href='#about')
        h1 SEARCH NO MORE FOR
        h1 PERSONALIZED ADVICE
        P atrium had advised on hundreds of transaction
        
  .dots-container 
    .dot
    .dot 



        




        



