.service 
      h1(id='services') OUR SERVICES 
      .underline 

      .container 
        .row 
          .col-4.left
            h4 Popular Questions 
            .underlines
            .accordion#accordionExample
              .accordion-item
                h2.accordion-header#headingOne
                  button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="false", aria-controls="collapseOne") 
                    | What are the benefits?
                #collapseOne.accordion-collapse.collapse.show(aria-labelledby="headingOne", data-bs-parent="#accordionExample")
                  .accordion-body
                    .mainfunc Quisque non nunc dapibus, tincidunt nisin tincidunt sapien suspendisse porttitor.

                    ul 
                      li 
                        p ✅ Donec placerat aliquam leo donec.
                      li 
                        p ✅ Morbi arcu lacus iaculis sit ametis.
                      li 
                        p ✅ Fusce dignissim enim vel pretium.
              .accordion-item
                h2.accordion-header#headingTwo
                  button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
                    | Is my capital safe?
                #collapseTwo.accordion-collapse.collapse(aria-labelledby="headingTwo", data-bs-parent="#accordionExample")
                  .accordion-body
                    .mainfunc Vivamus et venenatis dolor. Etiam pulvinaral augue ut viverra facilisis. Quisque quis cong urna. Sed eu velit id erat venenatis blandit.
              .accordion-item
                h2.accordion-header#headingThree
                  button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
                    | Can I opt out?
                #collapseThree.accordion-collapse.collapse(aria-labelledby="headingThree", data-bs-parent="#accordionExample")
                  .accordion-body
                    .mainfunc Praesent euismod lacinia tellus, sed pulvina massa lacinia in. Integer id consectetur ligu. Proin quis tortor ut enim facilisis eleifend.
              .accordion-item
                h2.accordion-header#headingFour
                  button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFour", aria-expanded="false", aria-controls="collapseFour")
                    | What is the risk?
                #collapseFour.accordion-collapse.collapse(aria-labelledby="headingFour", data-bs-parent="#accordionExample")
                  .accordion-body
                    .mainfunc Phasellus sed consequat felis. Integer euism libero libero, sed fringilla orci aliquet sit am. In nec ullamcorper neque.

          .col-4.middle
            h4 Offer combines 
            .underlines 
            ul 
              li 
                .row 
                  .col-2 
                    i.bi.bi-basket3
                  .col-10
                    h5 Personal Adviser
                    p Nunc nec felis, feugiat pellente velit a eleifend dui nullam faci proin congue lacus.
              li 
                .row 
                  .col-2 
                    i.bi.bi-suitcase-lg
                  .col-10
                    h5 Funds Protection
                    p Morbi rhoncus dolor id sapien feugiat vehicula in non mi vitae suspendisse elit.
              li 
                .row 
                  .col-2 
                    i.bi.bi-calendar
                  .col-10
                    h5 Derivatives Access
                    p Praesent nunc nunc hendrerites eget justo non sagittis feugiatim sapien mori.
          .col-4.right 
            h4 Additional Benefits 
            .underlines 
            ul 
              li 
                .row 
                  .col-2 
                    i.bi.bi-clipboard2-data
                  .col-10
                    h5 Risk Analysis
                    p Vestibulum an imperdiet mattisil quam et cursus, arcu rhoncuse feugiat non vehicula.
              li 
                .row 
                  .col-2 
                    i.bi.bi-chat-left 
                  .col-10
                    h5 Return On Investment
                    p Ut tincidunt vel nunc hendrerit in pharetra in odio est tristique sed eget justo sagittis.
              li 
                .row 
                  .col-2 
                    i.bi.bi-journal-text
                  .col-10
                    h5 New System
                    p Quisque rhoncus ipsum ac lacus mattis ut rutrumil sapien, commo morbi rhoncus dolor.
  
      .buy-theme 
        .container 
          .row 
            .col-7.left   
              h1 Buy This Theme 
              p 
                | Buy 
                span.theme-name Atrium Responsive One Page WordPress Theme 
                | on ThemeForest
            .col-5.right  
              button Buy this theme
  
      .picSer 
        .container 
          .row 
            .col-6 
              ul 
                li 
                  .row 
                    .col-2 
                      i.bi.bi-laptop 
                    .col-10
                      h3 Donec rhoncus justo 
                      p Vestibulum ante ipsum primis in faucibus orci luctusili et ultrices posuere cubilia curae vivamus gravida nibh turpis congue congue velit molestie sed.
                li 
                  .row 
                    .col-2 
                      i.bi.bi-signpost-2
                    .col-10
                      h3 Ut vulputate massa 
                      p Maecenas posuere sapien et consectetur dignissim isi dolor magna pharetra neque a gravida nisi est quis ali ante. Cras non risus dui aliquam molestie augue orci.
                li 
                  .row 
                    .col-2 
                      i.bi.bi-hand-thumbs-up
                    .col-10
                      h3 Sed tincidunt elementum 
                      p Cras eget ante pharetra vulputate enim ac imperdiet is metus. Nullam auctor a leo et pretium. Maecenas necil faucibus felis vel gravida dolor. Vivamus eu imperdiet.
            .col-6 
              ul 
                li 
                  .row 
                    .col-2 
                      i.bi.bi-shield-plus
                    .col-10
                      h3 Praesent dignissim nibh 
                      p Sed eleifend ornare enim nec euismod aenean at arcu volutpat a malesuada mauris. Proin rutrum lorem sapi vitae placerat augue mattis ac aliquam erat volutpat.
                li 
                  .row 
                    .col-2 
                      i.bi.bi-megaphone
                    .col-10
                      h3 Nulla adipiscing mattis 
                      p Ut magna arcu ultrices ut ultrices suscipit volutpat alicl vitae diam. Aliquam sapien justo venenatis vitae nibhil volutpat pharetra semper id lectus.
                li 
                  .row 
                    .col-2 
                      i.bi.bi-phone 
                    .col-10
                      h3 Curabitur sed leo facilisis 
                      p Sed in neque lacinia blandit nibh eu rhoncus purus ali. Class aptent taciti sociosqu ad litora torquent per nosi conubia nostra per inceptos himenaeo ut ligula quam.