.team 
  h1(id='team') MEET OUR TEAM
  .underline 

  .container 
    .row 
      .col-5.left 
        .decorate
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_07-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | David J.Murdock 
            .description 
              | Lead Manager
          .icon
            i.bi.bi-facebook
            i.bi.bi-instagram
            i.bi.bi-linkedin
      .col-7.right 
        h2 David J. Murdock
        p.position Lead Manager
        p Ut id tincidunt lorem. Cras placerat augue vel commodo malesuada. Nulla aliquam quam est, ut gravida lacus porta eu. Proin eget posuere nisl. Praesent quis sapien nibh.
        .percent
          p.hobby Photography
          p.numb 95%
        .progress-bar
            .fill(style="width: 95%;")
        .percent
          p.hobby Team Leading
          p.numb 95%
        .progress-bar
            .fill(style="width: 95%;")
        .percent
          p.hobby Web Design 
          p.numb 90%
        .progress-bar
            .fill(style="width: 90%;")
  
  .container 
    .row 
      .col-5.left 
        .decorate
          .wrap
            img(src="https://quanticalabs.com/wp_themes/atrium/files/2014/04/image_08-480x384.jpg", alt="")
            span.slider
          .picInfo
            .caption 
              | Carmen Southard
            .description 
              | Senior Manager
          .icon
            i.bi.bi-facebook
            i.bi.bi-instagram
            i.bi.bi-linkedin
      .col-7.right 
        h2 Carmen Southard
        p.position Senior Manager
        p Duis porta ante non sapien dictum, sed pellentesque mauris ultrices. Sed dapibus accumsan condimentum. Suspendisse metus lacus, porttitor et sagittis quis, semper lacinia risus.
        .percent
          p.hobby Photography
          p.numb 90%
        .progress-bar
            .fill(style="width: 90%;")
        .percent
          p.hobby Team Leading
          p.numb 70%
        .progress-bar
            .fill(style="width: 70%;")
        .percent
          p.hobby Web Design 
          p.numb 75%
        .progress-bar
            .fill(style="width: 75%;")      