.footer 
  .container 
    .row 
      .col-md-3 
        h4 Contact info
        .row 
          .col-2 
            i.bi.bi-signpost
          .col-10
            h5 Atrium Ltd.
            p 33 Farlane Street
            p 25-100 Kelior East, Australia
        .row 
          .col-2 
            i.bi.bi-phone 
          .col-10
            h5 Phone & Fax
            p Phone: 18006438000
            p Fax: 18006438001
        .social-links 
          a(href=""): i.bi.bi-facebook
          a(href=""): i.bi.bi-twitter 
          a(href=""): i.bi.bi-instagram     
      .col-md-3 
        h4 Text Widget
        p Integer pellentesque dolor vel dapibus alesi volutpat. Fusceli molestie condimentum ante in lobortis. Sed sed mattis lacus.
        p ✅ Donec placerat aliquam.
        p ✅ Morbi arcu lacus iaculis.
        p ✅ Fusce dignissim enim vel.
      .col-md-3 
        h4 Accordion Widget
        .accordion#footerAccordion
          .accordion-item
            h2.accordion-header(id="footerHeadingOne")
              button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapseOne" aria-expanded="false" aria-controls="footerCollapseOne")
                | Personal Adviser
            #footerCollapseOne.accordion-collapse.collapse.show(aria-labelledby="footerHeadingOne" data-bs-parent="#footerAccordion")
              .accordion-body
                | Quisque non nunc dapibus alec tincidunt nisin tincidunt sapien suspendisse porttitor.
          .accordion-item
            h2.accordion-header(id="footerHeadingTwo")
              button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapseTwo" aria-expanded="false" aria-controls="footerCollapseTwo")
                | Funds Protection
            #footerCollapseTwo.accordion-collapse.collapse(aria-labelledby="footerHeadingTwo" data-bs-parent="#footerAccordion")
              .accordion-body
                | Pellentesque scelerisque lorem venenatis tellus et adipiscing felis aliquet id.
          .accordion-item
            h2.accordion-header(id="footerHeadingThree")
              button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapseThree" aria-expanded="false" aria-controls="footerCollapseThree")
                | Risk Analysis
            #footerCollapseThree.accordion-collapse.collapse(aria-labelledby="footerHeadingThree" data-bs-parent="#footerAccordion")
              .accordion-body
                | Curabitur metus lectus aliquet vitae libero quisi varius cursus sem aenean adipiscing.
          .accordion-item
            h2.accordion-header(id="footerHeadingFour")
              button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapseFour" aria-expanded="false" aria-controls="footerCollapseFour")
                | New System
            #footerCollapseFour.accordion-collapse.collapse(aria-labelledby="footerHeadingFour" data-bs-parent="#footerAccordion")
              .accordion-body
                | Class aptent taciti sociosqu adis litora torquent per conubia nos per inceptos himenaeos.
      .col-md-3 
        .blog-header
          h4 From The Blog
          .blog-navigation
            button.slick-prev: i.bi.bi-chevron-left
            button.slick-next: i.bi.bi-chevron-right
        .carou3 
          .blog-item
            a(href='http://preview.themeforest.net/item/atrium-responsive-one-page-wordpress-theme/full_screen_preview/7636859?_ga=2.27778174.391245066.1719212118-430630228.1690432178') Praesent eget eros ut mauris mollis accumsan suspendisse
            p &#128197; April 1, 2014 
          .blog-item
            a(href="") Mauris at sodales sem vel isi iaculis odioun sodales sem
            p &#128197; April 1, 2014
          .blog-item
            a(href="") Pellentesque tristique a arcu sit amet facilisis sed ma
            p &#128197; March 3, 2014
          .blog-item
            a(href="") Donec in laoreet nisi fusce aliquet ante vitae
            p &#128197; March 2, 2014
