.header 
    .preview_header
        .preview_envato-logo
            a(href="https://themeforest.net/item/atrium-responsive-one-page-wordpress-theme/7636859", class='header-envato_market') Envato Market
        .preview_actions
            .preview_action--buy 
                a(href="https://themeforest.net/checkout/102987471/create_account", class='header-buy-now e-btn--3d -color-primary') Buy now
