nav#navbar.navbar
  .container
    .logo
      a(href='https://quanticalabs.com/wp_themes/atrium')
        img(src='https://quanticalabs.com/wp_themes/atrium/files/2014/04/logo.png' alt='')
    ul.nav-links
      input#checkbox_toggle(type='checkbox')
      label.hamburger(for='checkbox_toggle') &#x2630;
      .menu
        li
          a(href='#about') ABOUT
        li
          a(href='#feature') FEATURE
        li
          a(href='#services') SERVICES
        li
          a(href='#blog') BLOG
        li
          a(href='#team') TEAM
        li
          a(href='#galleries') GALLERY
        li
          a(href='#contact') CONTACT
        li.services
          a(href='') PAGES
          ul.dropdown
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/blog-left-sidebar/') BLOG (LEFT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/blog/') BLOG (RIGHT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/blog-without-sidebar/') BLOG (WITHOUT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/vivamus-et-nulla-risus-nulla-rhoncus-euismod/') POST (LEFT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/praesent-eget-eros-ut-mauris-mollis-accumsan-et-et-nisl/') POST (RIGHT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/donec-pretium-massa-eros-id-ultrices-risus-sodales-et/') POST (WITHOUT SIDEBAR)
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/page-not-found/') PAGE NOT FOUND
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/theme-features/accordion/') THEME FEATURE
            li
              a(href='https://quanticalabs.com/wp_themes/atrium/instructional-videos/') INSTRUCTION VIDEOS
